*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/release/
keystore.properties
keystore.jks
fastlane/googleplay.json
fastlane/metadata/android/screenshots.html