*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/release/
keystore.properties
fabric.properties
keystore.jks
fastlane/googleplay.json
fastlane/metadata/android/screenshots.html
secrets.tar.gz
secrets.tar

# fastlane specific
fastlane/report.xml

# deliver temporary files
fastlane/Preview.html

# snapshot generated screenshots
fastlane/screenshots

# scan temporary files
fastlane/test_output